body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  background-color: #0d0d0d;
  font-size: 12px;
  color: #f2f2f2; }

#chart-sect {
  text-align: center; }
  #chart-sect #piechart {
    margin: auto;
    width: 200px;
    height: 200px; }

#setForm {
  margin-top: 10px; }
  #setForm input, #setForm button {
    background-color: #777;
    color: #f2f2f2;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px; }

#key {
  margin-top: 10px;
  display: inline-block;
  text-align: left; }
  #key .key-sub .key-sub-col {
    display: inline-block;
    margin: 2px 5px;
    padding: 2px 10px; }
  #key .key-sub .key-sub-txt {
    font-size: 10px; }
