body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  background-color: #0d0d0d;
  font-size: 12px;
  color: #f2f2f2; }

#chart-sect {
  text-align: center; }
  #chart-sect #piechart {
    margin: auto;
    width: 200px;
    height: 200px; }

#setForm {
  margin-top: 10px; }
  #setForm input, #setForm button {
    background-color: #777;
    color: #f2f2f2;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px; }

.val-iss {
  display: block;
  padding: 5px; }
