@import 'colors';

body {
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	background-color: $bcgr-main;
	font-size:12px;
	color:$col-main;
}
.col-sec{
	padding:10px;
	display: flex;
}

#chart-sect{
	display:flex;
	justify-content:center;
}

#key{
	margin-top: 10px;
	min-width: 60px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	.key-sub{
		display:flex;
		align-items: center;
		.key-sub-col{
			margin: 0px 5px;
			padding: 5px 8px;
		}
		.key-sub-txt{
			font-size: 10px;
			padding: 5px;
		}
	}
}

#form-cont{
	display: flex;
	justify-content:center;
	text-align: center;
	.sub-form-cont{
		border: 1px solid $col-bord;
		border-radius: 8px;
		padding:20px;
	}
	#setForm {
		margin-top: 10px;
		display: flex;
		flex-direction: column;
		label{
			padding:5px;
		}
		input, button{
			background-color:$bcgr-inp;
			color:$col-main;
			border:none;
			border-radius:5px;
			padding:5px 10px;
			margin-bottom: 5px;
		}
		input[type=submit]{
			margin:15px 0;
			padding:4px 25px 5px 25px;
			align-self: center;
			cursor:pointer;
			transition: all 0.15s ease-in-out;
			&:hover{
				background-color: #555;
			}
		}
	}
}
